*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    
}
.menu{
    height: 80px;
    width: 100%;
    background: url(../burger/img/bg-header-bottom.png);
}
#LOGO{
    margin-left: 91px;
    position: absolute;
    top: -5px;
}
.menu ul{
    float: right;
    margin-right: 150px;
}
.menu ul li{
    position: relative;
    display:inline-block;
}
.giohang{
    margin-top: 5px;
    background-color: white;
}
#churieng{
    color: rgb(255, 182, 45) ;
    font-size: px;
}
#churieng:hover{
    color:#a30000;
    transition: 0.5s;

}

.menu ul li a{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 21px 15px;
    font-family: "block-pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
}
ul li a:hover{
    color:#6e3d2e;
    transition: 0.5s;
}
.banner{
    width: 100%;
    height: 100px;
    background: url(./img/BG-nav-bar-2.png);
}
.thanhthucan{
    font-size: 15px;
    font-family:  Arial, sans-serif;
    
}
.monle{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 300px;
    top: 85px;
}
.bam{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 303px;
    top: 150px;
}
.monmoi{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 430px;
    top: 85px;
}
.bon{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 426px;
    top: 150px;
}
.burger{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 560px;
    top: 85px;
}
.bin{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 563px;
    top: 150px;
}
.combo{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 690px;
    top: 85px;
}
.bo{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 691px;
    top: 150px;
}
.garan{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 820px;
    top: 85px;
}
.bi{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 821px;
    top: 150px;
}
.comvua{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 950px;
    top: 85px;
}
.beo{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 943px;
    top: 150px;
}
.monankem{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 1080px;
    top: 85px;
}
.bu{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 1066px;
    top: 150px;
}
.thucuong{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position:absolute;
    border: 4px solid rgb(219, 219, 219);
    left: 1210px;
    top: 85px;
}
.bp{
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 1200px;
    top: 150px;
}
.slider{
    width: 100%;
    margin:-50px auto;
    overflow: hidden;
    padding-top: 50px;
}
.slider_imgs{
    display: flex;
}
.slider_imgs img{
    width: 100%;
    height: 600px;
}
.slider_imgs input{
    display: none;
}
.lableslider{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.lableslider label{
    background: white;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border:  3px solid #f17a00;
    ;
    margin: 10px;
}
.lableslider label:hover{
    background: orange;
}
#img1:checked ~.imgslider1{
    margin-left: -100%;
}
#img2:checked ~.imgslider2{
    margin-left: -200%;
}
#img3:checked ~.imgslider3{
    margin-left: -300%;
}
#img4:checked ~.imgslider4{
    margin-left: -400%;
}
#img5:checked ~.imgslider5{
    margin-left: -500%;
}
#img6:checked ~.imgslider6{
    margin-left: -600%;
}
#img7:checked ~.imgslider7{
    margin-left: -700%;
}
.hotline{
    position: fixed;
    top: 590px;
    left: 87%;
}
.cuoicung{
    background-color:#F0EBE5 ;
    width: 100%;
    height: 170px;
}
#khuyenmai{
    position: absolute;
    font-weight: bolder;
    background-color:#f17a00;
    padding: 20px 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 4px;
    top: 820px;
    left: 430px;
}
#dathang{
    position: absolute;
    font-weight: bolder;
    background-color:#f17a00;
    padding: 20px 65px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 4px;
    top: 820px;
    left: 830px;
}
.cuoi{
    width: 100%;
    height: 63px;
    background: #522e1deb;
    font-size: 16px;
    line-height: 1.5;
}
.face{
    float: right;
    padding: 8px;
    margin-top: 7px;
}
.doanket ul{
    float: right;
    margin-right: 60px;
}
.doanket ul li{
    position: relative;
    display:inline-block;
}
.doanket ul li a{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #baa699;
    padding: 21px 15px;
    font-family: "block-pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
}
.sucmanh{
    color: #baa699;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
    width: 50%;
    float: right;
}